
body {
  color: #fff;
}

/* Genral */
.bg-main {
  background-color: #23D4CE;
}

.bg-first {
  background: linear-gradient(99.58deg, #233155 12.58%, #39224D 64.36%);
}

.bg-scroll {
  background: rgb(43, 67, 202);
}

.heading {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.line-heading {
  border-bottom: 3px solid #23D4CE;
}


/* Navbar styles */
ul .nav-item a{
  color: white;
  font-size: 14px;
  font-weight: 400;
}
ul .nav-item svg{
  color: #23D4CE;
}

ul .nav-item button {
  padding: 5px 19px ;
}

ul .nav-item:hover a {
  color: #23D4CE;
}


/* hreo styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 120px 0 60px 0;
  margin-bottom: 50px;
}


.hero h1 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
}

.hero h1 span {
  color:#23D4CE  ;
}

.hero p {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 30px;
}



/* our features styles */
.features {
  color: #000;
  background-color: #F7F7F7;
}

.box {
  background-color: #fff;
 box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box h2 {
  font-size: 24px;
}

.box p {
  font-size: 16px;
}

.box:hover {
  background-color:  rgba(80, 217, 215, 0.2) ;
}

/* testimonials */

.map {
  height: 657px;

}


@media (max-width: 1400px) {
  .map {
      overflow-y: hidden;
      overflow-x: scroll;
  }
}

.review1{
  left: 170px;
  top: 120px;
}

.review2 {
  left: 800px;
  top: 120px;
}

.review3 {
  left: 580px;
  top: 260px;
}

.review4 {
  left: 1000px;
  top: 250px;
}

.review5 {
  left: 260px;
  top: 380px;
}

.review6 {
  left: 1100px;
  top: 465px;
}